.navbar {
	margin-bottom: 0;
	background-color:white;
}
.navbar-brand {
	background-image:url('../../dist/images/assoc-logos.png');
	background-repeat: no-repeat;
	background-size:400px 100px;
	width:400px;
	height:100px;
}

.navbar-nav {
	>li {
		>a {
			padding:40px 20px;
		}
	}
}

